body{
    font-family: Arial;
    background-color: #f0f0f0;
    margin: 0;
}

header{
    background-color: #2f4358;
    color: white;
    text-align: center;
    padding: 15px;
}

header img{
    width: 290px;
    margin-top: 10px;
}

nav{
    background-color: #2f4358;
    text-align: center;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

nav a:hover{
    color: yellow;
}

main{
    background-color: white;
    margin: 15px;
    padding: 15px;
}

main img{
    width: 250px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

table{
    margin-top: 10px;
    border-collapse: collapse;
}

th, td{
    padding: 8px;
}

input, textarea{
    width: 200px;
}

button{
    padding: 8px;
}

button:hover{
    background-color: lightgray;
}

footer{
    background-color: #2f4358;
    color: white;
    text-align: center;
    padding: 10px;
}
